
.outer-wrap {
  position: relative;
  overflow: hidden; // FIX Firefox positionning bug.

  > .wrap {

    @include mq-to('lg') {
      max-width: none;
      padding-left: $spacing;
      padding-right: $spacing;
    }

  }

}

// Centered layout.
.wrap {
  @include clearfix;
  max-width: $max-site-width;
  margin: 0 auto;
}

