
.is-hidden       { display: none !important; }

.sr-only,
.visually-hidden {
  @include hide;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
