
.teaser {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  margin-bottom: $sp*2;

  @include mq-from('sm') {
    flex-flow: row nowrap;
  }

}

.teaser__col--extract {
  flex: 1 0 40%;
  margin-bottom: 2*$sp;
  line-height: 1.8;

  @include mq-from('sm') {
    margin-right: $sp*3;
  }
}


.img-anim {
  animation-name: imageEnter;
  animation-duration: 2000ms;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
}

@keyframes imageEnter {
  from { transform: translate3d(100px, 0, 0); opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}
